.container {
    margin: 0 auto;
    max-width: 1120px;
    min-width: 320px;
}

.morse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.morse-wrapper {
    display: flex;
    justify-content: center;
}

header {
    position: relative;
}

.a {
    text-decoration: none;
}

.title a {
    color: white;
    text-decoration: none;
}

.title {
    color: white;
    font-size: 40px;
}

.dot {
    color: darkred;
}

.morse-btn {
    font-size: 25px;

    background-color: #FFF;
    color: black;
    border: 1px solid #949191;
    border-bottom: 0;
    box-shadow: 0 4px #949191;

    width: 185px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 2px 2px 0 0;
    transition: transform .2s, box-shadow .2s;

    line-height: 10px;
    outline: none;
}

.red-btn {
    width: 43px;
    height: 41px;
    background-color: #ac0101;
    border-radius: 42px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: transform .2s, box-shadow .2s;
    border: none;
}

input {
    height: 45px;
    outline: none;
    font-size: 20px;
    width: 460px;
    border: 1px solid #949191;
    caret-color: #949191;
    box-shadow: 0 4px #949191;
    padding-left: 7px;
    -webkit-appearance: none;
    border-radius: 0;
}

.controls {
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.morse-btn:hover {
    box-shadow: 0 3px #949191;
    transform: translateY(6px);
    cursor: pointer;
}

.morse-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.red-btn:hover {
    transform: translateY(6px);
}

.red-btn:active {
    transform: translateY(4px);
}

@media screen and (max-width: 1120px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 860px) {
    .title {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 530px) {
    input {
        width: 270px;
    }

    .controls {
        flex-direction: column;
        align-items: center;
    }

    .morse-btn + .morse-btn {
        margin-top: 15px;
    }

    .red-btn {
        margin-top: 15px;
    }
}